
PIPELINE_KEY='insert key here'
LLM_URL='https://api.portkey.ai/v1/'
DATABASE_URL='file:./DATABASE/edgar.db'

MODEL_MINI='gpt-5.4-mini'
MODEL_MAIN='gpt-5.4'

MODEL_MINI_IN_COST_USD='0.75'
MODEL_MINI_OUT_COST_USD='4.50'
MODEL_MAIN_IN_COST_USD='2.5'
MODEL_MAIN_OUT_COST_USD='15'
